In [1]:
import pandas as pd

df=pd.read_csv("organizations-100.csv", encoding="latin1")

In [2]:
#Data Ingestion
print("First Five Rows:")
print(df.head())

print("\nShape of the Dataset:")
print(df.shape)

print("\nInformation about the Dataset:")
print(df.info())

First Five Rows:
   Index  Organization Id                     Name  \
0      1  FAB0d41d5b5d22c              Ferrell LLC
1      2  6A7EdDEA9FaDC52  Mckinney, Riley and Day
2      3  0bFED1ADAE4bcC1               Hester Ltd
3      4  2bFC1Be8a4ce42f           Holder-Sellers
4      5  9eE8A6a4Eb96C24              Mayer Group

                          Website           Country  \
0              https://price.net/  Papua New Guinea
1  http://www.hall-buchanan.info/           Finland
2       http://sullivan-reed.com/             China
3             https://becker.com/      Turkmenistan
4          http://www.brewer.com/         Mauritius

                                      Description  Founded  \
0             Horizontal empowering knowledgebase     1990
1             User-centric system-worthy leverage     2015
2                  Switchable scalable moratorium     1971
3  De-engineered systemic artificial intelligence     2004
4              Synchronized needs-based challenge     1991

                      Industry  Number of employees
0                     Plastics                 3498
1  Glass / Ceramics / Concrete                 4952
2                Public Safety                 5287
3                   Automotive                  921
4               Transportation                 7870

Shape of the Dataset:
(100, 9)

Information about the Dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Index                100 non-null    int64
 1   Organization Id      100 non-null    object
 2   Name                 100 non-null    object
 3   Website              100 non-null    object
 4   Country              100 non-null    object
 5   Description          100 non-null    object
 6   Founded              100 non-null    int64
 7   Industry             100 non-null    object
 8   Number of employees  100 non-null    int64
dtypes: int64(3), object(6)
memory usage: 7.2+ KB
None

In [3]:
#Deduplication
dup=df.duplicated().sum()
print("\nThe no. of Duplicate values are:", dup)

df=df.drop_duplicates()
print("\nTotal Duplicates after removal:", df.duplicated().sum())

The no. of Duplicate values are: 0

Total Duplicates after removal: 0

In [4]:
#Column Management and Format Standardization
print("\noriginal column names:")
print(df.columns)

df=df.rename(columns={'Founded':'Year founded'})

df.columns=df.columns.str.lower().str.replace(" ","_")
print("\nafter cleaning column names:")
print(df.columns)

original column names:
Index(['Index', 'Organization Id', 'Name', 'Website', 'Country', 'Description',
       'Founded', 'Industry', 'Number of employees'],
      dtype='object')

after cleaning column names:
Index(['index', 'organization_id', 'name', 'website', 'country', 'description',
       'year_founded', 'industry', 'number_of_employees'],
      dtype='object')

In [5]:
#Handling Missing Values
missing_val=df.isnull().sum()
print("\nTotal no. of Missing Values per column:")
print(missing_val) # no missing values present

Total no. of Missing Values per column:
index                  0
organization_id        0
name                   0
website                0
country                0
description            0
year_founded           0
industry               0
number_of_employees    0
dtype: int64

In [6]:
#practice
print("\noriginal index order")
print(df.info())
print(df.columns.to_list())
df=df[

       ['index', 'organization_id', 'name', 'website', 'country', 'year_founded', 'description', 'industry', 'number_of_employees']
]
print(df.info())
print(df.head())

original index order
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   index                100 non-null    int64
 1   organization_id      100 non-null    object
 2   name                 100 non-null    object
 3   website              100 non-null    object
 4   country              100 non-null    object
 5   description          100 non-null    object
 6   year_founded         100 non-null    int64
 7   industry             100 non-null    object
 8   number_of_employees  100 non-null    int64
dtypes: int64(3), object(6)
memory usage: 7.2+ KB
None
['index', 'organization_id', 'name', 'website', 'country', 'description', 'year_founded', 'industry', 'number_of_employees']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   index                100 non-null    int64
 1   organization_id      100 non-null    object
 2   name                 100 non-null    object
 3   website              100 non-null    object
 4   country              100 non-null    object
 5   year_founded         100 non-null    int64
 6   description          100 non-null    object
 7   industry             100 non-null    object
 8   number_of_employees  100 non-null    int64
dtypes: int64(3), object(6)
memory usage: 7.2+ KB
None
   index  organization_id                     name  \
0      1  FAB0d41d5b5d22c              Ferrell LLC
1      2  6A7EdDEA9FaDC52  Mckinney, Riley and Day
2      3  0bFED1ADAE4bcC1               Hester Ltd
3      4  2bFC1Be8a4ce42f           Holder-Sellers
4      5  9eE8A6a4Eb96C24              Mayer Group

                          website           country  year_founded  \
0              https://price.net/  Papua New Guinea          1990
1  http://www.hall-buchanan.info/           Finland          2015
2       http://sullivan-reed.com/             China          1971
3             https://becker.com/      Turkmenistan          2004
4          http://www.brewer.com/         Mauritius          1991

                                      description  \
0             Horizontal empowering knowledgebase
1             User-centric system-worthy leverage
2                  Switchable scalable moratorium
3  De-engineered systemic artificial intelligence
4              Synchronized needs-based challenge

                      industry  number_of_employees
0                     Plastics                 3498
1  Glass / Ceramics / Concrete                 4952
2                Public Safety                 5287
3                   Automotive                  921
4               Transportation                 7870

In [7]:
df.to_csv("Organizations-100_cleaned.csv", index=False)